body.dashboard {
    background: black;
    color: cyan;
    text-align: center;
    font-family: Arial;
    padding-top: 50px;
}
h1 { 
    text-shadow: 0 0 10px cyan; 
    font-size: 40px;
}
.subtitle {
    font-size: 20px;
    margin-bottom: 40px;
}
.pilih-character { 
    display: flex; 
    justify-content: center; 
    gap: 30px; 
}
.card {
    background: #222;
    padding: 20px;
    border: 2px solid cyan;
    border-radius: 10px;
    width: 150px;
}
.card img { 
    width: 120px; 
    background: transparent;
}
button {
    background: cyan;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}